@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #DFA42E;
  border-radius: 10px;
  scroll-behavior: smooth;
}
/* *::-webkit-scrollbar-thumb:hover {
  background-color:#d4d4d5;
} */
.font-lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
}
.font-Manrope{
  font-family: "Manrope", sans-serif;
  font-style: normal;
}
.font-playfair-display {
  font-family: "Playfair Display", serif;
  font-style: normal;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
